
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<head>
    <!-- header -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<header class="header">

    <div class="logo1">
        <a href="#home"><img src="~/Content/image/eleganza_scroll.svg" alt=""></a>
    </div>

    <div class="logo">
        <a href="#home"><img src="~/Content/image/eleganza hotel.svg" alt=""></a>
    </div>



    <div class="general">
        <a href="/Accommodation/Accommodation">Accommodation</a>
        <a href="#room">Services</a>
        <a href="#gallery">Promotion</a>
    </div>
    <button onclick="window.location.href='/Search_room/Search_room'" class="butt">
        <a class="btn">BOOK NOW</a>
    </button>
</header>

<!-- end -->
<!-- home -->

<section class="home" id="home">
    <div class="scroldown"> </div>
    <div class="swiper-slide slide">
        <img src="~/Content/image/hero.png" />
        <div class="welcome-text"> Your journey, our commitment</div>
    </div>
</section>

<!-- end -->
<!-- welcome -->

<section class="no-js home">
    <!-- End Google Tag Manager (noscript) -->
    <div id="pageHome">
        <div data-bs-spy="scroll" data-bs-target="#nav" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <section class="materials light" id="section-1">
                <div class="container-fluid">
                    <h2 class="row">

                        <div class="wel">
                            <p>
                                Welcome to<br />
                                Eleganza hotel
                            </p>
                        </div>

                    </h2>
                </div>
                <div class="row topRow">
                    <div class="col-md-4 leftPart">
                        <p class="par-b">Discover refined luxury and unparalleled hospitality<br> at Eleganza Hotel. Indulge in opulent accommodations, <br>exquisite dining, and rejuvenating spa experiences. Your <br>journey of luxury begins here. Welcome.</p>
                        <picture class="img">
                            <img class="lazy" src="~/Content/image/Introduction 1.jpg" alt="Interiér" />
                        </picture>
                    </div>
                    <div class="col-md-6 offset-md-2 rightPart">
                        <picture class="img">
                            <img class="lazy" src="~/Content/image/Introduction 2.jpeg" alt="Interiér" />
                        </picture>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<!-- end -->
<!-- room -->

<section class="rooms">

    <div class="ourroom">
        <p>OUR ROOMS</p>
    </div>


    <div class="ourroom2">
        <h2>Luxurious Retreats for <br> Unforgettable Stays</h2>
    </div>


    <div class="ourroom1">
        <p class="our1">Experience unparalleled comfort and sophistication in our luxurious <br>rooms. Each meticulously designed space offers a serene retreat<br>from the hustle and bustle of the city, ensuring a tranquil stay.</p>
    </div>

    <div class="sliders">
        <div class="list">
            <div class="items">


                <img src="~/Content/image/urban_double.jpeg" alt="">



                <div class="image-overlay">
                    <h1>01</h1>
                    <p>Double Urban</p>
                    <button onclick="window.location.href='/Accom_detail/Accom_detail'" class="view-room-button">
                        View Room
                    </button>
                </div>

                <div class="image-overlay1">
                    <h1>02</h1>
                    <p>Double Loft</p>
                    <button onclick="window.location.href='/Accom_detail_2/Accom_detail_2'" class="view-room-button">
                        View Room

                    </button>
                </div>

            </div>


            <div class="items">

                <img src="~/Content/image/Double urban loft.jpeg" alt="">

                <div class="image-overlay2_1">
                    <p></p>
                </div>

                <div class="image-overlay2_2">
                    <h1>02</h1>
                    <p>Double Urban Loft</p>
                    <button onclick="window.location.href='/Accom_detail_2/Accom_detail_2'" class="view-room-button">
                        View Room

                    </button>
                </div>

                <div class="image-overlay2_3">
                    <h1>02</h1>
                    <p>Unique Suite</p>
                    <button onclick="window.location.href='/Accom_detail_3/Accom_detail_3'" class="view-room-button">
                        View Room

                    </button>
                </div>

            </div>



            <div class="items">

                <img src="~/Content/image/Unique junior suite.jpeg" alt="">
                <div class="image-overlay2_1">
                    <p></p>
                </div>
                <div class="image-overlay2_2">
                    <h1>03</h1>
                    <p>Unique Junior Suite</p>
                    <button onclick="window.location.href='/Accom_detail_3/Accom_detail_3'" class="view-room-button">
                        View Room

                    </button>
                </div>

                <div class="image-overlay2_4">
                    <h1>03</h1>
                    <p>Unique Suite L</p>
                    <button onclick="window.location.href='/Accom_detail_4/Accom_detail_4'" class="view-room-button">
                        View Room

                    </button>
                </div>

            </div>




            <div class="items">

                <img src="~/Content/image/Unique junior loft suite.jpeg">

                <div class="image-overlay2_1">
                    <p></p>
                </div>

                <div class="image-overlay2_2">
                    <h1>04</h1>
                    <p>Unique junior Suite Loft</p>
                    <button onclick="window.location.href='/Accom_detail_4/Accom_detail_4'" class="view-room-button">
                        View Room

                    </button>
                </div>

            </div>

        </div>
        `


        <div class="buttons">
            <button class="pre" id="prev"></button>
            <button class="nex" id="next"></button>
        </div>



    </div>

</section>

<!-- end -->
<!-- services -->



<section class="services">


    <div class="ourservice">
        <p>OUR SERVICES</p>
    </div>


    <div class="ourservice2">
        <h2>Unrivaled Excellence in <br>Hospitality Experience</h2>
    </div>


    <div class="ourservice1">
        <p>Immerse yourself in unmatched luxury and service at Eleganza Hotel. <br>From lavish rooms to exquisite dining and top-notch meeting spaces,<br>we ensure an exceptional stay.</p>
    </div>

    <div class="container-wrapper">
        <!-- Hình ảnh 1 -->
        <div class="container">
            <img class="img" src="~/Content/image/Bar & Champagne.png" alt="Mary" />
            <div class="fadeOverlay">
                <p class="meeting">Bar & Champagne</p>
                <p class="hello">Experience elegance at our Bar & Champagne Lounge. Sip on<br>premium champagnes, wines, and signature cocktails in a <br>sophisticated atmosphere.  Join us for exclusive events and<br>unforgettable evenings at Eleganza Hotel.</p>
            </div>
        </div>

        <!-- Hình ảnh 2 -->
        <div class="container1">
            <img class="img" src="~/Content/image/Meeting.png" alt="Meeting" />
            <div class="fadeOverlay">
                <p class="meeting">Meeting Room</p>
                <p class="hello">Explore the epitome of sophistication within our exquisite Meeting<br>Room, boasting state-of-the-art amenities tailored for your<br>upcoming event. Secure your reservation today and indulge in an<br>unforgettable experience of refined elegance.</p>
            </div>
        </div>
    </div>

</section>

<!-- end -->
<!-- Promotion -->
<section class="promotion">

    <div class="ourpro"> <p>Our Promotions </p> </div>

    <div class="ourpro2">
        <h1>
            Gain Access To Unparalleled
            <br>Discounts For Your Escape
        </h1>
    </div>


    <div class="ourpro1">
        <p>Seize the chance to enhance your stay with us by taking advantage of<br>this limited-time opportunity. Don't let it slip away! Secure your slice <br>of paradise by making your reservation today.</p>
    </div>
    `
    <!-- end -->

</section>

<section class="hello">
    <div class="owl-carousel">
        <div class="item">

            <img src="~/Content/image/r1.svg" alt="" />
            <div class="inner"></div>

        </div>
        <div class="item">

            <img src="~/Content/image/r2.svg" alt="" />
            <div class="inner"></div>

        </div>
        <div class="item">

            <img src="~/Content/image/r3.svg" alt="" />
            <div class="inner"></div>

        </div>

    </div>

    <div class="text-container">

        <h2 class="text-center">Early Booking</h2>
        <h2 class="text-center">First Getaway</h2>
        <h2 class="text-center1">Friend Invitation</h2>
    </div>

    <div class="btn-wrapper">
        <button onclick="window.location.href='/Accommodation/Accommodation'" class="discover-button">Discover ></button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</section>
<!-- end -->
<!-- gallery -->

<section class="gallery" id="gallery">

    <div class="ourgallery"> <p>Explore Our Elegant Gallery</p> </div>


    <div class="slider">
        <div class="slide-track">

            <div class="slide"><img src="~/Content/image/Rectangle 1932.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1931.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1930.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1933.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1934.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1935.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1936.png" alt=""></div>

            <div class="slide"><img src="~/Content/image/Rectangle 1932.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1931.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1930.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1933.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1934.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1935.png" alt=""></div>
            <div class="slide"><img src="~/Content/image/Rectangle 1936.png" alt=""></div>


        </div>
    </div>

</section>

<!-- end -->
<script src="~/Content/js/script.js"></script>